<nz-layout class="layout">
    <nz-header style="position: fixed;left: 0;right: 0;top:0;z-index: 100;">
        <!-- <div class="logo"></div> -->
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 50px;">
            <li style="font-size:16px;">
                <i [routerLink]="['/home']" class="anticon anticon-line-chart"
                    style="margin-left: 24px;color: #eee;"></i> <span [routerLink]="['/home']"
                    style="cursor:pointer;color: #fff;margin-left: 4px;">前端监控平台</span>
            </li>
        </ul>
    </nz-header>
</nz-layout>
<!-- <app-advise-bar [data]="dataItems" [setting]="{left:'14%',top:'2px',title:'提升技能',subTitle:'慕课网课程：',color:'linear-gradient(0deg, rgba(54, 137, 231, 0.7), rgba(61, 147, 244, 1), rgba(81, 163, 255, 1))'}"></app-advise-bar>  -->
<div class="layout">
    <router-outlet></router-outlet>
</div>